.container {
    text-align: center;
}

.body input {
    padding: 8px;
    margin-right: 8px;
}

.body button {
    padding: 8px 16px;
}

.footer {
    margin-top: 25px;
    font-size: 20px;
}